body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, button {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.suggestions {
    border: 1px solid #ced4da;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    width: calc(100% - 22px);
    margin: 0;
    padding: 0;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f8f9fa;
}

.original-article {
    margin-bottom: 20px;
}
